<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product" shared="false">
        <plugin
                name="Transom_IncreasePrice_ProductPlugin"
                type="Transom\IncreasePrice\Plugin\ProductPluginPrice"
                disabled="false"
                sortOrder="10" />
    </type>
</config>