<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <Pakke>
                <active>0</active>
                <api_key></api_key>
                <pakke_logger></pakke_logger>
                <pakke_debugger></pakke_debugger>
                <sort_order>15</sort_order>
                <model>Transom\Pakke\Model\Carrier</model>
            </Pakke>
		
			
        </carriers>
    </default>
</config>